@model AllInOneModel
@using Nop.Plugin.Widgets.AllInOnePlugin.Models;
@using Nop.Web.Framework.UI;
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.Title = T("Plugins.Widgets.AllInOne.EditDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("AllInOne");
}
<form asp-controller="WidgetsAllInOne" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Widgets.AllInOne.EditDetails") - @Model.Name
            <small>
            <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugins.Widgets.AllInOne.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="allinone-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            @await Html.PartialAsync("~/Plugins/Widgets.AllInOne/Views/_CreateOrUpdate.cshtml", Model)
        </div>
    </div>
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="allinone-delete" />
